* {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 14%,
    rgba(156, 234, 198, 1) 100%,
    rgba(5, 93, 177, 1) 100%,
    rgba(7, 59, 154, 1) 100%,
    rgba(8, 40, 142, 1) 100%,
    rgba(8, 102, 138, 1) 100%,
    rgba(2, 0, 36, 1) 100%
  );
}
img {
  height: 50vh;
  width: 55vw;
}
button {
  text-align: center
}
